<b>Commodities</b>
  <p>
      <a href="">Home</a> | 
      <a href="financials">Financials</a> |
      <a href="commodities">Commodities</a> |
      <a href="scanner">Scanner</a> |
  </p>

  <html>
    <body>
        <form method = "post" action = "/commodities">
          <p><input type = "submit" name = "submit_button" value = "Aluminum" />
          <input type = "submit" name = "submit_button" value = "Butter" />
          <input type = "submit" name = "submit_button" value = "Canola" />
          <input type = "submit" name = "submit_button" value = "Cheese" />
          <input type = "submit" name = "submit_button" value = "Coal" />
          <input type = "submit" name = "submit_button" value = "Cocoa" />
          <input type = "submit" name = "submit_button" value = "Coffee" />
          <input type = "submit" name = "submit_button" value = "Copper" />
          <input type = "submit" name = "submit_button" value = "Corn" />
          <input type = "submit" name = "submit_button" value = "Cotton" />
          <input type = "submit" name = "submit_button" value = "Crude Oil" />
          <input type = "submit" name = "submit_button" value = "Ethane" />
          <input type = "submit" name = "submit_button" value = "Ethanol" />
          <input type = "submit" name = "submit_button" value = "Orange Juice" />
          <input type = "submit" name = "submit_button" value = "Gasoline" />
          <input type = "submit" name = "submit_button" value = "Gold" />
          <input type = "submit" name = "submit_button" value = "Henry Hub" />
          <input type = "submit" name = "submit_button" value = "Henry Hub Index" />
          <input type = "submit" name = "submit_button" value = "Lean Hogs" />
          <input type = "submit" name = "submit_button" value = "Live Cattle" />
          <input type = "submit" name = "submit_button" value = "Natural Gas" />
          <input type = "submit" name = "submit_button" value = "Palladium" />
          <input type = "submit" name = "submit_button" value = "Platinum" />
          <input type = "submit" name = "submit_button" value = "Propane" />
          <input type = "submit" name = "submit_button" value = "Rough Rice" />
          <input type = "submit" name = "submit_button" value = "Silver" />
          <input type = "submit" name = "submit_button" value = "Soybean Meal" />
          <input type = "submit" name = "submit_button" value = "Soybean Oil" />
          <input type = "submit" name = "submit_button" value = "Soybeans" />
          <input type = "submit" name = "submit_button" value = "Steel" />
          <input type = "submit" name = "submit_button" value = "Sugar" />
          <input type = "submit" name = "submit_button" value = "Wheat-HRW" />
          <input type = "submit" name = "submit_button" value = "Wheat" />
          <input type = "submit" name = "submit_button" value = "WTI Crude Oil" />
          <input type = "submit" name = "submit_button" value = "WTI" />
          <input type = "submit" name = "submit_button" value = "WTI" />
          <input type = "submit" name = "submit_button" value = "WTI" />
          <input type = "submit" name = "submit_button" value = "WTI" />
          <input type = "submit" value = "WTI" /></p>
        </form>   
    </body>
  </html>
  
      <html>
      <header>
          <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
      </header>
      <body>
      <table border="1" class="dataframe" id="table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Market_and_Exchange_Names</th>
      <!-- <th data-visible="false">Market_and_Exchange_Names</th> -->
      <th>Report_Date_as_MM_DD_YYYY</th>
      <th>CFTC_Contract_Market_Code</th>
      <th>Open_Interest_All</th>
      <th>Prod_Merc_Positions_Long_ALL</th>
      <th>Prod_Merc_Positions_Short_ALL</th>
      <th>Swap_Positions_Long_All</th>
      <th>Swap__Positions_Short_All</th>
      <th>Swap__Positions_Spread_All</th>
      <th>M_Money_Positions_Long_ALL</th>
      <th>M_Money_Positions_Short_ALL</th>
      <th>M_Money_Positions_Spread_ALL</th>
      <th>Other_Rept_Positions_Long_ALL</th>
      <th>Other_Rept_Positions_Short_ALL</th>
      <th>Other_Rept_Positions_Spread_ALL</th>
      <th>Tot_Rept_Positions_Long_All</th>
      <th>Tot_Rept_Positions_Short_All</th>
      <th>NonRept_Positions_Long_All</th>
      <th>NonRept_Positions_Short_All</th>
      <th>Comm_Net</th>
      <th>Comm_Max</th>
      <th>Comm_Min</th>
      <th>Comm_Index</th>
      <th>M_Money_Net</th>
      <th>M_Money_Max</th>
      <th>M_Money_Min</th>
      <th>M_Money_Index</th>
      <th>Swap_Net</th>
      <th>Swap_Max</th>
      <th>Swap_Min</th>
      <th>Swap_Index</th>
      <th>Other_Net</th>
      <th>Other_Max</th>
      <th>Other_Min</th>
      <th>Other_Index</th>
      <th>Price</th>
      <th>Price_Min</th>
      <th>Price_Max</th>
      <th>Price_Index</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>6/7/2022</td>
      <td>191696</td>
      <td>13915</td>
      <td>6125</td>
      <td>12640</td>
      <td>5847</td>
      <td>215</td>
      <td>160</td>
      <td>279</td>
      <td>0</td>
      <td>0</td>
      <td>1328</td>
      <td>894</td>
      <td>0</td>
      <td>13739</td>
      <td>13909</td>
      <td>176</td>
      <td>6</td>
      <td>-6515</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5632</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>279</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1328</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2742.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>5/31/2022</td>
      <td>191696</td>
      <td>16040</td>
      <td>6991</td>
      <td>14699</td>
      <td>6742</td>
      <td>145</td>
      <td>230</td>
      <td>320</td>
      <td>0</td>
      <td>0</td>
      <td>1524</td>
      <td>954</td>
      <td>0</td>
      <td>15807</td>
      <td>16028</td>
      <td>233</td>
      <td>12</td>
      <td>-7708</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6597</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>320</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1524</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2763.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>5/24/2022</td>
      <td>191696</td>
      <td>15810</td>
      <td>6851</td>
      <td>14469</td>
      <td>6729</td>
      <td>145</td>
      <td>230</td>
      <td>320</td>
      <td>0</td>
      <td>0</td>
      <td>1430</td>
      <td>954</td>
      <td>0</td>
      <td>15560</td>
      <td>15798</td>
      <td>250</td>
      <td>12</td>
      <td>-7618</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6584</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>320</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1430</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2874.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>5/17/2022</td>
      <td>191696</td>
      <td>15323</td>
      <td>6732</td>
      <td>13727</td>
      <td>6391</td>
      <td>180</td>
      <td>180</td>
      <td>320</td>
      <td>0</td>
      <td>0</td>
      <td>1430</td>
      <td>954</td>
      <td>0</td>
      <td>15053</td>
      <td>15041</td>
      <td>270</td>
      <td>282</td>
      <td>-6995</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6211</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>320</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1430</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2860.00</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>5/10/2022</td>
      <td>191696</td>
      <td>15188</td>
      <td>6732</td>
      <td>13592</td>
      <td>6215</td>
      <td>180</td>
      <td>180</td>
      <td>320</td>
      <td>0</td>
      <td>0</td>
      <td>1471</td>
      <td>954</td>
      <td>0</td>
      <td>14918</td>
      <td>14906</td>
      <td>270</td>
      <td>282</td>
      <td>-6860</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6035</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>320</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1471</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2743.25</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>5/3/2022</td>
      <td>191696</td>
      <td>14907</td>
      <td>6716</td>
      <td>13311</td>
      <td>5980</td>
      <td>230</td>
      <td>130</td>
      <td>320</td>
      <td>0</td>
      <td>0</td>
      <td>1431</td>
      <td>954</td>
      <td>0</td>
      <td>14577</td>
      <td>14625</td>
      <td>330</td>
      <td>282</td>
      <td>-6595</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5750</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>320</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1431</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2900.00</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>4/26/2022</td>
      <td>191696</td>
      <td>17145</td>
      <td>7600</td>
      <td>15479</td>
      <td>7017</td>
      <td>210</td>
      <td>150</td>
      <td>361</td>
      <td>0</td>
      <td>0</td>
      <td>1657</td>
      <td>1019</td>
      <td>0</td>
      <td>16785</td>
      <td>16858</td>
      <td>360</td>
      <td>287</td>
      <td>-7879</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6807</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>361</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1657</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3040.25</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>4/19/2022</td>
      <td>191696</td>
      <td>16868</td>
      <td>7378</td>
      <td>15542</td>
      <td>7017</td>
      <td>210</td>
      <td>150</td>
      <td>361</td>
      <td>0</td>
      <td>0</td>
      <td>1622</td>
      <td>949</td>
      <td>0</td>
      <td>16528</td>
      <td>16851</td>
      <td>340</td>
      <td>17</td>
      <td>-8164</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6807</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>361</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1622</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3212.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>4/12/2022</td>
      <td>191696</td>
      <td>16606</td>
      <td>7273</td>
      <td>15300</td>
      <td>6860</td>
      <td>210</td>
      <td>150</td>
      <td>361</td>
      <td>0</td>
      <td>0</td>
      <td>1622</td>
      <td>929</td>
      <td>0</td>
      <td>16266</td>
      <td>16589</td>
      <td>340</td>
      <td>17</td>
      <td>-8027</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6650</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>361</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1622</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3229.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>4/5/2022</td>
      <td>191696</td>
      <td>16482</td>
      <td>7269</td>
      <td>14906</td>
      <td>6740</td>
      <td>210</td>
      <td>150</td>
      <td>361</td>
      <td>0</td>
      <td>0</td>
      <td>1622</td>
      <td>929</td>
      <td>0</td>
      <td>16142</td>
      <td>16195</td>
      <td>340</td>
      <td>287</td>
      <td>-7637</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6530</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>361</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1622</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3430.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>3/29/2022</td>
      <td>191696</td>
      <td>18287</td>
      <td>7841</td>
      <td>16647</td>
      <td>7673</td>
      <td>170</td>
      <td>190</td>
      <td>361</td>
      <td>0</td>
      <td>0</td>
      <td>1793</td>
      <td>944</td>
      <td>65</td>
      <td>17923</td>
      <td>18016</td>
      <td>364</td>
      <td>271</td>
      <td>-8806</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>7503</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>361</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1793</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3431.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>3/22/2022</td>
      <td>191696</td>
      <td>18032</td>
      <td>7601</td>
      <td>16512</td>
      <td>7658</td>
      <td>50</td>
      <td>190</td>
      <td>361</td>
      <td>0</td>
      <td>0</td>
      <td>1793</td>
      <td>944</td>
      <td>65</td>
      <td>17668</td>
      <td>17761</td>
      <td>364</td>
      <td>271</td>
      <td>-8911</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>7608</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>361</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1793</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3460.25</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>3/15/2022</td>
      <td>191696</td>
      <td>17987</td>
      <td>7556</td>
      <td>16297</td>
      <td>7658</td>
      <td>50</td>
      <td>190</td>
      <td>361</td>
      <td>0</td>
      <td>0</td>
      <td>1793</td>
      <td>1114</td>
      <td>65</td>
      <td>17623</td>
      <td>17716</td>
      <td>364</td>
      <td>271</td>
      <td>-8741</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>7608</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>361</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1793</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3204.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>3/8/2022</td>
      <td>191696</td>
      <td>17372</td>
      <td>7619</td>
      <td>15712</td>
      <td>7439</td>
      <td>50</td>
      <td>190</td>
      <td>241</td>
      <td>0</td>
      <td>0</td>
      <td>1628</td>
      <td>1084</td>
      <td>65</td>
      <td>17182</td>
      <td>17101</td>
      <td>190</td>
      <td>271</td>
      <td>-8093</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>7389</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>241</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1628</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3485.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>3/1/2022</td>
      <td>191696</td>
      <td>16837</td>
      <td>5889</td>
      <td>15050</td>
      <td>8298</td>
      <td>10</td>
      <td>230</td>
      <td>241</td>
      <td>0</td>
      <td>0</td>
      <td>1793</td>
      <td>1206</td>
      <td>65</td>
      <td>16516</td>
      <td>16561</td>
      <td>321</td>
      <td>276</td>
      <td>-9161</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>8288</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>241</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1793</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3516.00</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>2/22/2022</td>
      <td>191696</td>
      <td>16305</td>
      <td>6311</td>
      <td>13349</td>
      <td>7912</td>
      <td>1575</td>
      <td>140</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1673</td>
      <td>1206</td>
      <td>0</td>
      <td>16036</td>
      <td>16270</td>
      <td>269</td>
      <td>35</td>
      <td>-7038</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6337</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1673</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3342.00</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>2/15/2022</td>
      <td>191696</td>
      <td>16256</td>
      <td>6535</td>
      <td>13511</td>
      <td>7780</td>
      <td>1475</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1732</td>
      <td>1236</td>
      <td>0</td>
      <td>16047</td>
      <td>16222</td>
      <td>209</td>
      <td>34</td>
      <td>-6976</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6305</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1732</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3272.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>2/8/2022</td>
      <td>191696</td>
      <td>15572</td>
      <td>6343</td>
      <td>12827</td>
      <td>7468</td>
      <td>1475</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1612</td>
      <td>1236</td>
      <td>0</td>
      <td>15423</td>
      <td>15538</td>
      <td>149</td>
      <td>34</td>
      <td>-6484</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5993</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1612</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3240.25</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>2/1/2022</td>
      <td>191696</td>
      <td>16995</td>
      <td>6858</td>
      <td>14023</td>
      <td>8217</td>
      <td>1770</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1718</td>
      <td>1163</td>
      <td>0</td>
      <td>16793</td>
      <td>16956</td>
      <td>202</td>
      <td>39</td>
      <td>-7165</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6447</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1718</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3077.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>1/25/2022</td>
      <td>191696</td>
      <td>16823</td>
      <td>6776</td>
      <td>13881</td>
      <td>8131</td>
      <td>1770</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1718</td>
      <td>1133</td>
      <td>0</td>
      <td>16625</td>
      <td>16784</td>
      <td>198</td>
      <td>39</td>
      <td>-7105</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6361</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1718</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3077.75</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>1/18/2022</td>
      <td>191696</td>
      <td>16543</td>
      <td>6586</td>
      <td>13601</td>
      <td>8041</td>
      <td>1770</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1718</td>
      <td>1133</td>
      <td>0</td>
      <td>16345</td>
      <td>16504</td>
      <td>198</td>
      <td>39</td>
      <td>-7015</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6271</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1718</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3001.00</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>12/28/2021</td>
      <td>191696</td>
      <td>16294</td>
      <td>6213</td>
      <td>13413</td>
      <td>8066</td>
      <td>1905</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1792</td>
      <td>887</td>
      <td>30</td>
      <td>16101</td>
      <td>16235</td>
      <td>193</td>
      <td>59</td>
      <td>-7200</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6161</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1792</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2808.00</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>12/21/2021</td>
      <td>191696</td>
      <td>15646</td>
      <td>5882</td>
      <td>12765</td>
      <td>7726</td>
      <td>1905</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1792</td>
      <td>887</td>
      <td>30</td>
      <td>15430</td>
      <td>15587</td>
      <td>216</td>
      <td>59</td>
      <td>-6883</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5821</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1792</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2716.75</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>12/14/2021</td>
      <td>191696</td>
      <td>15488</td>
      <td>5880</td>
      <td>12607</td>
      <td>7570</td>
      <td>1905</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1792</td>
      <td>887</td>
      <td>30</td>
      <td>15272</td>
      <td>15429</td>
      <td>216</td>
      <td>59</td>
      <td>-6727</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5665</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1792</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2569.00</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>12/7/2021</td>
      <td>191696</td>
      <td>15329</td>
      <td>5826</td>
      <td>12928</td>
      <td>7570</td>
      <td>1425</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1702</td>
      <td>887</td>
      <td>30</td>
      <td>15128</td>
      <td>15270</td>
      <td>201</td>
      <td>59</td>
      <td>-7102</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6145</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1702</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2601.75</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>11/30/2021</td>
      <td>191696</td>
      <td>15976</td>
      <td>6206</td>
      <td>13594</td>
      <td>7437</td>
      <td>1345</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2011</td>
      <td>928</td>
      <td>30</td>
      <td>15684</td>
      <td>15897</td>
      <td>292</td>
      <td>79</td>
      <td>-7388</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6092</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-2011</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2591.25</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>11/23/2021</td>
      <td>191696</td>
      <td>15256</td>
      <td>5816</td>
      <td>13114</td>
      <td>7188</td>
      <td>1105</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2011</td>
      <td>928</td>
      <td>30</td>
      <td>15045</td>
      <td>15177</td>
      <td>211</td>
      <td>79</td>
      <td>-7298</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6083</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-2011</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2648.00</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>11/16/2021</td>
      <td>191696</td>
      <td>14728</td>
      <td>5678</td>
      <td>12586</td>
      <td>6798</td>
      <td>1105</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2011</td>
      <td>928</td>
      <td>30</td>
      <td>14517</td>
      <td>14649</td>
      <td>211</td>
      <td>79</td>
      <td>-6908</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5693</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-2011</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2540.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>11/9/2021</td>
      <td>191696</td>
      <td>13967</td>
      <td>5127</td>
      <td>11825</td>
      <td>6608</td>
      <td>1105</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1991</td>
      <td>928</td>
      <td>30</td>
      <td>13756</td>
      <td>13888</td>
      <td>211</td>
      <td>79</td>
      <td>-6698</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5503</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1991</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2560.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>11/2/2021</td>
      <td>191696</td>
      <td>13090</td>
      <td>4533</td>
      <td>10875</td>
      <td>6248</td>
      <td>1105</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1991</td>
      <td>844</td>
      <td>30</td>
      <td>12802</td>
      <td>12854</td>
      <td>288</td>
      <td>236</td>
      <td>-6342</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5143</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1991</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2754.75</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>30</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>10/26/2021</td>
      <td>191696</td>
      <td>14357</td>
      <td>5096</td>
      <td>12136</td>
      <td>6796</td>
      <td>1437</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2297</td>
      <td>550</td>
      <td>0</td>
      <td>14189</td>
      <td>14123</td>
      <td>168</td>
      <td>234</td>
      <td>-7040</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5359</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-2297</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2866.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>31</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>10/19/2021</td>
      <td>191696</td>
      <td>13961</td>
      <td>5157</td>
      <td>11813</td>
      <td>6351</td>
      <td>1412</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2297</td>
      <td>512</td>
      <td>0</td>
      <td>13805</td>
      <td>13737</td>
      <td>156</td>
      <td>224</td>
      <td>-6656</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4939</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-2297</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3138.25</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>32</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>10/12/2021</td>
      <td>191696</td>
      <td>13779</td>
      <td>5185</td>
      <td>11557</td>
      <td>6327</td>
      <td>1515</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2267</td>
      <td>512</td>
      <td>0</td>
      <td>13779</td>
      <td>13584</td>
      <td>0</td>
      <td>195</td>
      <td>-6372</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4812</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-2267</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3108.75</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>33</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>10/5/2021</td>
      <td>191696</td>
      <td>13511</td>
      <td>4914</td>
      <td>11289</td>
      <td>6345</td>
      <td>1515</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2252</td>
      <td>512</td>
      <td>0</td>
      <td>13511</td>
      <td>13316</td>
      <td>0</td>
      <td>195</td>
      <td>-6375</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4830</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-2252</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2966.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>34</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>9/28/2021</td>
      <td>191696</td>
      <td>15070</td>
      <td>6158</td>
      <td>12845</td>
      <td>6590</td>
      <td>1515</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2229</td>
      <td>548</td>
      <td>60</td>
      <td>15037</td>
      <td>14968</td>
      <td>33</td>
      <td>102</td>
      <td>-6687</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5075</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-2229</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2974.25</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>35</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>9/21/2021</td>
      <td>191696</td>
      <td>14920</td>
      <td>6248</td>
      <td>12845</td>
      <td>6440</td>
      <td>1365</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2139</td>
      <td>548</td>
      <td>60</td>
      <td>14887</td>
      <td>14818</td>
      <td>33</td>
      <td>102</td>
      <td>-6597</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5075</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-2139</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2883.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>36</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>9/14/2021</td>
      <td>191696</td>
      <td>14366</td>
      <td>5988</td>
      <td>12951</td>
      <td>6260</td>
      <td>705</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2025</td>
      <td>548</td>
      <td>60</td>
      <td>14333</td>
      <td>14264</td>
      <td>33</td>
      <td>102</td>
      <td>-6963</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5555</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-2025</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2866.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>37</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>9/7/2021</td>
      <td>191696</td>
      <td>12902</td>
      <td>4614</td>
      <td>11547</td>
      <td>6110</td>
      <td>705</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2145</td>
      <td>548</td>
      <td>0</td>
      <td>12869</td>
      <td>12800</td>
      <td>33</td>
      <td>102</td>
      <td>-6933</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5405</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-2145</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2787.75</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>38</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>8/31/2021</td>
      <td>191696</td>
      <td>14318</td>
      <td>5422</td>
      <td>12946</td>
      <td>6564</td>
      <td>705</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2212</td>
      <td>464</td>
      <td>76</td>
      <td>14274</td>
      <td>14191</td>
      <td>44</td>
      <td>127</td>
      <td>-7524</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5859</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-2212</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2746.25</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>39</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>8/24/2021</td>
      <td>191696</td>
      <td>14122</td>
      <td>5314</td>
      <td>12870</td>
      <td>6524</td>
      <td>705</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2190</td>
      <td>370</td>
      <td>50</td>
      <td>14078</td>
      <td>13995</td>
      <td>44</td>
      <td>127</td>
      <td>-7556</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5819</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-2190</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2647.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>40</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>8/17/2021</td>
      <td>191696</td>
      <td>13651</td>
      <td>5323</td>
      <td>12399</td>
      <td>6452</td>
      <td>705</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1782</td>
      <td>370</td>
      <td>50</td>
      <td>13607</td>
      <td>13524</td>
      <td>44</td>
      <td>127</td>
      <td>-7076</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5747</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1782</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2613.75</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>41</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>8/10/2021</td>
      <td>191696</td>
      <td>13518</td>
      <td>5250</td>
      <td>12326</td>
      <td>6452</td>
      <td>705</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1722</td>
      <td>310</td>
      <td>50</td>
      <td>13474</td>
      <td>13391</td>
      <td>44</td>
      <td>127</td>
      <td>-7076</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5747</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1722</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2596.75</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>42</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>8/3/2021</td>
      <td>191696</td>
      <td>13416</td>
      <td>5275</td>
      <td>12224</td>
      <td>6364</td>
      <td>705</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1683</td>
      <td>310</td>
      <td>50</td>
      <td>13372</td>
      <td>13289</td>
      <td>44</td>
      <td>127</td>
      <td>-6949</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5659</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1683</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2607.75</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>43</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>7/27/2021</td>
      <td>191696</td>
      <td>14869</td>
      <td>6452</td>
      <td>13756</td>
      <td>6643</td>
      <td>570</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1666</td>
      <td>340</td>
      <td>56</td>
      <td>14817</td>
      <td>14722</td>
      <td>52</td>
      <td>147</td>
      <td>-7304</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6073</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1666</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2515.25</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>44</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>7/20/2021</td>
      <td>191696</td>
      <td>14492</td>
      <td>6475</td>
      <td>13659</td>
      <td>6613</td>
      <td>300</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1306</td>
      <td>340</td>
      <td>56</td>
      <td>14450</td>
      <td>14355</td>
      <td>42</td>
      <td>137</td>
      <td>-7184</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6313</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1306</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2485.25</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>45</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>7/13/2021</td>
      <td>191696</td>
      <td>14577</td>
      <td>6893</td>
      <td>13819</td>
      <td>6397</td>
      <td>240</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1189</td>
      <td>340</td>
      <td>56</td>
      <td>14535</td>
      <td>14455</td>
      <td>42</td>
      <td>122</td>
      <td>-6926</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6157</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1189</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2559.25</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>46</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>7/6/2021</td>
      <td>191696</td>
      <td>14002</td>
      <td>6773</td>
      <td>13569</td>
      <td>6229</td>
      <td>75</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>902</td>
      <td>180</td>
      <td>56</td>
      <td>13960</td>
      <td>13880</td>
      <td>42</td>
      <td>122</td>
      <td>-6796</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>6154</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-902</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2556.00</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>47</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>6/29/2021</td>
      <td>191696</td>
      <td>12769</td>
      <td>6828</td>
      <td>12381</td>
      <td>5233</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>533</td>
      <td>250</td>
      <td>58</td>
      <td>12652</td>
      <td>12689</td>
      <td>117</td>
      <td>80</td>
      <td>-5553</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5233</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-533</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2569.00</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>48</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>12/29/2020</td>
      <td>191696</td>
      <td>11077</td>
      <td>5902</td>
      <td>9861</td>
      <td>4640</td>
      <td>35</td>
      <td>70</td>
      <td>0</td>
      <td>281</td>
      <td>0</td>
      <td>112</td>
      <td>730</td>
      <td>100</td>
      <td>10824</td>
      <td>11077</td>
      <td>253</td>
      <td>0</td>
      <td>-3959</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4605</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-281</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-112</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2002.25</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>49</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>12/21/2020</td>
      <td>191696</td>
      <td>11077</td>
      <td>5902</td>
      <td>9861</td>
      <td>4640</td>
      <td>35</td>
      <td>70</td>
      <td>0</td>
      <td>281</td>
      <td>0</td>
      <td>112</td>
      <td>730</td>
      <td>100</td>
      <td>10824</td>
      <td>11077</td>
      <td>253</td>
      <td>0</td>
      <td>-3959</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4605</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-281</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-112</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2035.25</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>50</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>12/15/2020</td>
      <td>191696</td>
      <td>11007</td>
      <td>5832</td>
      <td>9771</td>
      <td>4640</td>
      <td>35</td>
      <td>70</td>
      <td>0</td>
      <td>281</td>
      <td>0</td>
      <td>112</td>
      <td>750</td>
      <td>100</td>
      <td>10754</td>
      <td>11007</td>
      <td>253</td>
      <td>0</td>
      <td>-3939</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4605</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-281</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-112</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2025.00</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>51</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>12/8/2020</td>
      <td>191696</td>
      <td>10807</td>
      <td>5632</td>
      <td>9571</td>
      <td>4640</td>
      <td>35</td>
      <td>70</td>
      <td>0</td>
      <td>281</td>
      <td>0</td>
      <td>112</td>
      <td>750</td>
      <td>100</td>
      <td>10554</td>
      <td>10807</td>
      <td>253</td>
      <td>0</td>
      <td>-3939</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4605</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-281</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-112</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1991.75</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>52</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>12/1/2020</td>
      <td>191696</td>
      <td>11738</td>
      <td>6217</td>
      <td>10377</td>
      <td>5001</td>
      <td>70</td>
      <td>0</td>
      <td>0</td>
      <td>341</td>
      <td>0</td>
      <td>64</td>
      <td>760</td>
      <td>190</td>
      <td>11472</td>
      <td>11738</td>
      <td>266</td>
      <td>0</td>
      <td>-4160</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4931</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-341</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-64</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2052.75</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>53</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>11/24/2020</td>
      <td>191696</td>
      <td>11664</td>
      <td>6143</td>
      <td>10303</td>
      <td>5001</td>
      <td>70</td>
      <td>0</td>
      <td>0</td>
      <td>341</td>
      <td>0</td>
      <td>64</td>
      <td>760</td>
      <td>190</td>
      <td>11398</td>
      <td>11664</td>
      <td>266</td>
      <td>0</td>
      <td>-4160</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4931</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-341</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-64</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1960.00</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>54</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>11/17/2020</td>
      <td>191696</td>
      <td>11664</td>
      <td>6143</td>
      <td>10303</td>
      <td>5001</td>
      <td>70</td>
      <td>0</td>
      <td>0</td>
      <td>341</td>
      <td>0</td>
      <td>64</td>
      <td>760</td>
      <td>190</td>
      <td>11398</td>
      <td>11664</td>
      <td>266</td>
      <td>0</td>
      <td>-4160</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4931</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-341</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-64</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1967.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>55</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>11/10/2020</td>
      <td>191696</td>
      <td>11644</td>
      <td>6183</td>
      <td>10303</td>
      <td>4981</td>
      <td>70</td>
      <td>0</td>
      <td>0</td>
      <td>321</td>
      <td>0</td>
      <td>0</td>
      <td>760</td>
      <td>190</td>
      <td>11354</td>
      <td>11644</td>
      <td>290</td>
      <td>0</td>
      <td>-4120</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4911</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-321</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1905.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>56</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>11/3/2020</td>
      <td>191696</td>
      <td>11097</td>
      <td>6026</td>
      <td>9786</td>
      <td>4621</td>
      <td>70</td>
      <td>0</td>
      <td>0</td>
      <td>321</td>
      <td>0</td>
      <td>0</td>
      <td>760</td>
      <td>160</td>
      <td>10807</td>
      <td>11097</td>
      <td>290</td>
      <td>0</td>
      <td>-3760</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4551</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-321</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1901.75</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>57</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>10/27/2020</td>
      <td>191696</td>
      <td>11298</td>
      <td>5846</td>
      <td>9832</td>
      <td>5053</td>
      <td>105</td>
      <td>0</td>
      <td>0</td>
      <td>381</td>
      <td>0</td>
      <td>0</td>
      <td>900</td>
      <td>80</td>
      <td>10979</td>
      <td>11298</td>
      <td>319</td>
      <td>0</td>
      <td>-3986</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4948</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-381</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1825.00</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>58</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>10/20/2020</td>
      <td>191696</td>
      <td>11103</td>
      <td>5651</td>
      <td>9637</td>
      <td>5053</td>
      <td>105</td>
      <td>0</td>
      <td>0</td>
      <td>381</td>
      <td>0</td>
      <td>0</td>
      <td>900</td>
      <td>80</td>
      <td>10784</td>
      <td>11103</td>
      <td>319</td>
      <td>0</td>
      <td>-3986</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4948</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-381</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1841.00</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>59</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>10/13/2020</td>
      <td>191696</td>
      <td>10983</td>
      <td>5555</td>
      <td>9717</td>
      <td>5029</td>
      <td>105</td>
      <td>0</td>
      <td>0</td>
      <td>381</td>
      <td>0</td>
      <td>80</td>
      <td>780</td>
      <td>0</td>
      <td>10664</td>
      <td>10983</td>
      <td>319</td>
      <td>0</td>
      <td>-4162</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4924</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-381</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-80</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1866.75</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>60</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>10/6/2020</td>
      <td>191696</td>
      <td>10995</td>
      <td>5687</td>
      <td>9729</td>
      <td>4945</td>
      <td>105</td>
      <td>0</td>
      <td>0</td>
      <td>381</td>
      <td>0</td>
      <td>80</td>
      <td>780</td>
      <td>0</td>
      <td>10712</td>
      <td>10995</td>
      <td>283</td>
      <td>0</td>
      <td>-4042</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4840</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-381</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-80</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1779.00</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>61</th>
      <td>ALUMINIUM EURO PREM DUTY-PAID - COMMODITY EXCHANGE INC.</td>
      <td>9/29/2020</td>
      <td>191696</td>
      <td>12368</td>
      <td>6542</td>
      <td>10983</td>
      <td>5451</td>
      <td>140</td>
      <td>0</td>
      <td>0</td>
      <td>440</td>
      <td>0</td>
      <td>80</td>
      <td>800</td>
      <td>0</td>
      <td>12073</td>
      <td>12363</td>
      <td>295</td>
      <td>5</td>
      <td>-4441</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5311</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-440</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-80</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1786.50</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
      <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
      <script>
          $(document).ready( function () {
              $('#table').DataTable({
                  "lengthMenu": [ [15, 50, 100, -1], [15, 50, 100, "All"] ],
              });
          });
      </script>
      </body>
      </html>
      