<b>Commodities</b>

<p>
    <a href="\">Home</a> | 
    <a href="financials">Financials</a> |
    <a href="commodities">Commodities</a> |
    <a href="scanner">Scanner</a> |
</p>

<html>
   <body>
      <form method = "post" action = "/commodities">
        <p><input type = "submit" name = "submit_button" value = "Aluminum" />
        <input type = "submit" name = "submit_button" value = "Butter" />
        <input type = "submit" name = "submit_button" value = "Canola" />
        <input type = "submit" name = "submit_button" value = "Cheese" />
        <input type = "submit" name = "submit_button" value = "Coal" />
        <input type = "submit" name = "submit_button" value = "Cocoa" />
        <input type = "submit" name = "submit_button" value = "Coffee" />
        <input type = "submit" name = "submit_button" value = "Copper" />
        <input type = "submit" name = "submit_button" value = "Corn" />
        <input type = "submit" name = "submit_button" value = "Cotton" />
        <input type = "submit" name = "submit_button" value = "Crude Oil" />
        <input type = "submit" name = "submit_button" value = "Ethane" />
        <input type = "submit" name = "submit_button" value = "Ethanol" />
        <input type = "submit" name = "submit_button" value = "Orange Juice" />
        <input type = "submit" name = "submit_button" value = "Gasoline" />
        <input type = "submit" name = "submit_button" value = "Gold" />
        <input type = "submit" name = "submit_button" value = "Henry Hub" />
        <input type = "submit" name = "submit_button" value = "Henry Hub Index" />
        <input type = "submit" name = "submit_button" value = "Lean Hogs" />
        <input type = "submit" name = "submit_button" value = "Live Cattle" />
        <input type = "submit" name = "submit_button" value = "Natural Gas" />
        <input type = "submit" name = "submit_button" value = "Palladium" />
        <input type = "submit" name = "submit_button" value = "Platinum" />
        <input type = "submit" name = "submit_button" value = "Propane" />
        <input type = "submit" name = "submit_button" value = "Rough Rice" />
        <input type = "submit" name = "submit_button" value = "Silver" />
        <input type = "submit" name = "submit_button" value = "Soybean Meal" />
        <input type = "submit" name = "submit_button" value = "Soybean Oil" />
        <input type = "submit" name = "submit_button" value = "Soybeans" />
        <input type = "submit" name = "submit_button" value = "Steel" />
        <input type = "submit" name = "submit_button" value = "Sugar" />
        <input type = "submit" name = "submit_button" value = "Wheat-HRW" />
        <input type = "submit" name = "submit_button" value = "Wheat" />
        <input type = "submit" name = "submit_button" value = "WTI Crude Oil" />
        <input type = "submit" name = "submit_button" value = "WTI" />
        <input type = "submit" name = "submit_button" value = "WTI" />
        <input type = "submit" name = "submit_button" value = "WTI" />
        <input type = "submit" value = "WTI" /></p>
      </form>   
   </body>
</html>