<b>Financials</b>

<p>
    <a href="\">Home</a> | 
    <a href="financials">Financials</a> |
    <a href="commodities">Commodities</a> |
    <a href="scanner">Scanner</a> |
</p>

<html>
   <body>
      <form method = "post" action = "/financials">
        <p><input type = "submit" name = "submit_button" value = "Australian Dollar" />
        <input type = "submit" name = "submit_button" value = "Bitcoin" />
        <input type = "submit" name = "submit button" value = "Brazilian Real" />
        <input type = "submit" value = "British Pound" />
        <input type = "submit" value = "Canadian Dollar" />
        <input type = "submit" value = "DJIA Consolidated" />
        <input type = "submit" value = "Dow Jones" />
        <input type = "submit" value = "E-Mini S&P" />
        <input type = "submit" value = "E-Mini S&P Energy" />
        <input type = "submit" value = "E-Mini S&P Financial" />
        <input type = "submit" value = "E-Mini S&P Health Care" />
        <input type = "submit" value = "E-Mini S&P Utilities" />
        <input type = "submit" value = "Ethereum" />
        <input type = "submit" value = "Euro FX" />
        <input type = "submit" value = "Euro FX British Pound" />
        <input type = "submit" value = "Eurodollars" />
        <input type = "submit" value = "Fed Funds" />
        <input type = "submit" value = "Japanese Yen" />
        <input type = "submit" value = "Mexican Peso" />
        <input type = "submit" value = "Micro Bitcoin" />
        <input type = "submit" value = "Micro E-Mini Nasdaq" />
        <input type = "submit" value = "Micro Ether" />
        <input type = "submit" value = "Nasdaq Mini" />
        <input type = "submit" value = "Nasdaq Consolidated" />
        <input type = "submit" value = "Nikkei Stock" />
        <input type = "submit" value = "NZ Dollar" />
        <input type = "submit" value = "Russell E-Mini" />
        <input type = "submit" value = "S&P Consolidated" />
        <input type = "submit" value = "SO African Rand" />
        <input type = "submit" value = "Swiss Franc" />
        <input type = "submit" value = "Ultra UST 10Y" />
        <input type = "submit" value = "Ultra UST Bond" />
        <input type = "submit" value = "USD Index" />
        <input type = "submit" value = "UST 10Y" />
        <input type = "submit" value = "UST 2Y" />
        <input type = "submit" value = "UST 5Y" />
        <input type = "submit" value = "UST Bond" />
        <input type = "submit" value = "VIX" /></p>
      </form>   
   </body>
</html>