<table border="1" class="dataframe">
    <thead>
      <tr style="text-align: right;">
        <th></th>
        <th>WHEAT-SRW - CHICAGO BOARD OF TRADE</th>
        <th>220607</th>
        <th>2022-06-07</th>
        <th>001602</th>
        <th>CBT</th>
        <th>00</th>
        <th>001</th>
        <th>333705</th>
        <th>109678</th>
        <th>85797</th>
        <th>73175</th>
        <th>116146</th>
        <th>136009</th>
        <th>298999</th>
        <th>294981</th>
        <th>34706</th>
        <th>38724</th>
        <th>299198</th>
        <th>100476</th>
        <th>86495</th>
        <th>59822</th>
        <th>106658</th>
        <th>119545</th>
        <th>266956</th>
        <th>265862</th>
        <th>32242</th>
        <th>33336</th>
        <th>34507</th>
        <th>18094</th>
        <th>8194</th>
        <th>4461</th>
        <th>9488</th>
        <th>16464</th>
        <th>32043</th>
        <th>29119</th>
        <th>2464</th>
        <th>5388</th>
        <th>2569</th>
        <th>-4286</th>
        <th>-5858</th>
        <th>6346</th>
        <th>-1419</th>
        <th>-203</th>
        <th>641</th>
        <th>285</th>
        <th>1928</th>
        <th>2284</th>
        <th>100.0</th>
        <th>32.9</th>
        <th>25.7</th>
        <th>21.9</th>
        <th>34.8</th>
        <th>40.8</th>
        <th>89.6</th>
        <th>88.4</th>
        <th>10.4</th>
        <th>11.6</th>
        <th>100.0.1</th>
        <th>33.6</th>
        <th>28.9</th>
        <th>20.0</th>
        <th>35.6</th>
        <th>40.0</th>
        <th>89.2</th>
        <th>88.9</th>
        <th>10.8</th>
        <th>11.1</th>
        <th>100.0.2</th>
        <th>52.4</th>
        <th>23.7</th>
        <th>12.9</th>
        <th>27.5</th>
        <th>47.7</th>
        <th>92.9</th>
        <th>84.4</th>
        <th>7.1</th>
        <th>15.6</th>
        <th>325</th>
        <th>99</th>
        <th>83</th>
        <th>109</th>
        <th>80</th>
        <th>116</th>
        <th>246</th>
        <th>252</th>
        <th>321</th>
        <th>104</th>
        <th>77</th>
        <th>107</th>
        <th>79</th>
        <th>111</th>
        <th>242</th>
        <th>245</th>
        <th>129</th>
        <th>21</th>
        <th>32</th>
        <th>20</th>
        <th>25</th>
        <th>64</th>
        <th>62</th>
        <th>100</th>
        <th>16.3</th>
        <th>13.2</th>
        <th>27.9</th>
        <th>22.4</th>
        <th>16.3.1</th>
        <th>11.3</th>
        <th>27.9.1</th>
        <th>19.1</th>
        <th>17.3</th>
        <th>13.7</th>
        <th>27.6</th>
        <th>22.9</th>
        <th>17.3.1</th>
        <th>12.7</th>
        <th>27.6.1</th>
        <th>21.1</th>
        <th>48.0</th>
        <th>25.1</th>
        <th>62.3</th>
        <th>39.5</th>
        <th>48.0.1</th>
        <th>18.8</th>
        <th>61.0</th>
        <th>30.1</th>
        <th>(CONTRACTS OF 5,000 BUSHELS)</th>
        <th>001602.1</th>
        <th>CBT .1</th>
        <th>001 .1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>0</th>
        <td>WHEAT-HRW - CHICAGO BOARD OF TRADE</td>
        <td>220607</td>
        <td>2022-06-07</td>
        <td>001612</td>
        <td>CBT</td>
        <td>0</td>
        <td>1</td>
        <td>180335</td>
        <td>54842</td>
        <td>20813</td>
        <td>34428</td>
        <td>69963</td>
        <td>102896</td>
        <td>159233</td>
        <td>158137</td>
        <td>21102</td>
        <td>22198</td>
        <td>171468</td>
        <td>51234</td>
        <td>20220</td>
        <td>32101</td>
        <td>68445</td>
        <td>99653</td>
        <td>151780</td>
        <td>151974</td>
        <td>19688</td>
        <td>19494</td>
        <td>8867</td>
        <td>4553</td>
        <td>1538</td>
        <td>1382</td>
        <td>1518</td>
        <td>3243</td>
        <td>7453</td>
        <td>6163</td>
        <td>1414</td>
        <td>2704</td>
        <td>-256</td>
        <td>-3511</td>
        <td>-1273</td>
        <td>2409</td>
        <td>1366</td>
        <td>-2429</td>
        <td>264</td>
        <td>-1293</td>
        <td>-520</td>
        <td>1037</td>
        <td>100.0</td>
        <td>30.4</td>
        <td>11.5</td>
        <td>19.1</td>
        <td>38.8</td>
        <td>57.1</td>
        <td>88.3</td>
        <td>87.7</td>
        <td>11.7</td>
        <td>12.3</td>
        <td>100.0</td>
        <td>29.9</td>
        <td>11.8</td>
        <td>18.7</td>
        <td>39.9</td>
        <td>58.1</td>
        <td>88.5</td>
        <td>88.6</td>
        <td>11.5</td>
        <td>11.4</td>
        <td>100.0</td>
        <td>51.3</td>
        <td>17.3</td>
        <td>15.6</td>
        <td>17.1</td>
        <td>36.6</td>
        <td>84.1</td>
        <td>69.5</td>
        <td>15.9</td>
        <td>30.5</td>
        <td>217</td>
        <td>70</td>
        <td>35</td>
        <td>59</td>
        <td>79</td>
        <td>88</td>
        <td>179</td>
        <td>157</td>
        <td>217</td>
        <td>71</td>
        <td>36</td>
        <td>56</td>
        <td>73</td>
        <td>86</td>
        <td>171</td>
        <td>154</td>
        <td>91</td>
        <td>11</td>
        <td>16</td>
        <td>9</td>
        <td>22</td>
        <td>54</td>
        <td>40</td>
        <td>74</td>
        <td>15.5</td>
        <td>19.0</td>
        <td>24.9</td>
        <td>30.3</td>
        <td>14.3</td>
        <td>18.4</td>
        <td>22.0</td>
        <td>26.2</td>
        <td>16.3</td>
        <td>19.4</td>
        <td>25.7</td>
        <td>31.4</td>
        <td>15.1</td>
        <td>19.2</td>
        <td>23.1</td>
        <td>27.1</td>
        <td>54.3</td>
        <td>26.9</td>
        <td>69.0</td>
        <td>37.8</td>
        <td>53.2</td>
        <td>17.2</td>
        <td>59.2</td>
        <td>24.4</td>
        <td>(CONTRACTS OF 5,000 BUSHELS)</td>
        <td>001612</td>
        <td>CBT</td>
        <td>1</td>
      </tr>
      <tr>
        <th>1</th>
        <td>WHEAT-HRSpring - MINNEAPOLIS GRAIN EXCHANGE</td>
        <td>220607</td>
        <td>2022-06-07</td>
        <td>001626</td>
        <td>MGE</td>
        <td>0</td>
        <td>1</td>
        <td>69232</td>
        <td>20284</td>
        <td>1791</td>
        <td>3704</td>
        <td>29614</td>
        <td>54991</td>
        <td>53602</td>
        <td>60486</td>
        <td>15630</td>
        <td>8746</td>
        <td>24654</td>
        <td>7526</td>
        <td>1205</td>
        <td>0</td>
        <td>10823</td>
        <td>21092</td>
        <td>18349</td>
        <td>22297</td>
        <td>6305</td>
        <td>2357</td>
        <td>44578</td>
        <td>14060</td>
        <td>1888</td>
        <td>2402</td>
        <td>18791</td>
        <td>33899</td>
        <td>35253</td>
        <td>38189</td>
        <td>9325</td>
        <td>6389</td>
        <td>-4475</td>
        <td>-1918</td>
        <td>234</td>
        <td>819</td>
        <td>-3602</td>
        <td>-4145</td>
        <td>-4701</td>
        <td>-3092</td>
        <td>226</td>
        <td>-1383</td>
        <td>100.0</td>
        <td>29.3</td>
        <td>2.6</td>
        <td>5.4</td>
        <td>42.8</td>
        <td>79.4</td>
        <td>77.4</td>
        <td>87.4</td>
        <td>22.6</td>
        <td>12.6</td>
        <td>100.0</td>
        <td>30.5</td>
        <td>4.9</td>
        <td>0.0</td>
        <td>43.9</td>
        <td>85.6</td>
        <td>74.4</td>
        <td>90.4</td>
        <td>25.6</td>
        <td>9.6</td>
        <td>100.0</td>
        <td>31.5</td>
        <td>4.2</td>
        <td>5.4</td>
        <td>42.2</td>
        <td>76.0</td>
        <td>79.1</td>
        <td>85.7</td>
        <td>20.9</td>
        <td>14.3</td>
        <td>103</td>
        <td>27</td>
        <td>10</td>
        <td>16</td>
        <td>49</td>
        <td>48</td>
        <td>85</td>
        <td>67</td>
        <td>89</td>
        <td>24</td>
        <td>7</td>
        <td>0</td>
        <td>28</td>
        <td>33</td>
        <td>52</td>
        <td>40</td>
        <td>96</td>
        <td>26</td>
        <td>9</td>
        <td>8</td>
        <td>42</td>
        <td>43</td>
        <td>70</td>
        <td>58</td>
        <td>17.8</td>
        <td>37.3</td>
        <td>26.8</td>
        <td>54.0</td>
        <td>11.1</td>
        <td>32.8</td>
        <td>19.3</td>
        <td>45.4</td>
        <td>37.4</td>
        <td>49.4</td>
        <td>49.3</td>
        <td>63.1</td>
        <td>37.4</td>
        <td>49.4</td>
        <td>49.2</td>
        <td>63.1</td>
        <td>17.7</td>
        <td>34.8</td>
        <td>28.3</td>
        <td>51.3</td>
        <td>17.7</td>
        <td>34.5</td>
        <td>28.2</td>
        <td>50.3</td>
        <td>(CONTRACTS OF 5,000 BUSHELS)</td>
        <td>001626</td>
        <td>MGE</td>
        <td>1</td>
      </tr>
      <tr>
        <th>2</th>
        <td>CORN - CHICAGO BOARD OF TRADE</td>
        <td>220607</td>
        <td>2022-06-07</td>
        <td>002602</td>
        <td>CBT</td>
        <td>0</td>
        <td>2</td>
        <td>1557167</td>
        <td>520783</td>
        <td>129519</td>
        <td>226034</td>
        <td>673039</td>
        <td>1010176</td>
        <td>1419856</td>
        <td>1365729</td>
        <td>137311</td>
        <td>191438</td>
        <td>815285</td>
        <td>318925</td>
        <td>195208</td>
        <td>71225</td>
        <td>362858</td>
        <td>476806</td>
        <td>753008</td>
        <td>743239</td>
        <td>62277</td>
        <td>72046</td>
        <td>741882</td>
        <td>321879</td>
        <td>54332</td>
        <td>34788</td>
        <td>310181</td>
        <td>533370</td>
        <td>666848</td>
        <td>622490</td>
        <td>75034</td>
        <td>119392</td>
        <td>-7050</td>
        <td>-31066</td>
        <td>-18130</td>
        <td>11822</td>
        <td>15190</td>
        <td>-1021</td>
        <td>-4054</td>
        <td>-7329</td>
        <td>-2996</td>
        <td>279</td>
        <td>100.0</td>
        <td>33.4</td>
        <td>8.3</td>
        <td>14.5</td>
        <td>43.2</td>
        <td>64.9</td>
        <td>91.2</td>
        <td>87.7</td>
        <td>8.8</td>
        <td>12.3</td>
        <td>100.0</td>
        <td>39.1</td>
        <td>23.9</td>
        <td>8.7</td>
        <td>44.5</td>
        <td>58.5</td>
        <td>92.4</td>
        <td>91.2</td>
        <td>7.6</td>
        <td>8.8</td>
        <td>100.0</td>
        <td>43.4</td>
        <td>7.3</td>
        <td>4.7</td>
        <td>41.8</td>
        <td>71.9</td>
        <td>89.9</td>
        <td>83.9</td>
        <td>10.1</td>
        <td>16.1</td>
        <td>797</td>
        <td>190</td>
        <td>95</td>
        <td>160</td>
        <td>315</td>
        <td>402</td>
        <td>587</td>
        <td>601</td>
        <td>707</td>
        <td>142</td>
        <td>111</td>
        <td>86</td>
        <td>246</td>
        <td>344</td>
        <td>435</td>
        <td>499</td>
        <td>695</td>
        <td>159</td>
        <td>79</td>
        <td>70</td>
        <td>213</td>
        <td>359</td>
        <td>407</td>
        <td>480</td>
        <td>13.6</td>
        <td>11.7</td>
        <td>23.0</td>
        <td>18.3</td>
        <td>13.0</td>
        <td>10.1</td>
        <td>22.1</td>
        <td>15.9</td>
        <td>15.1</td>
        <td>13.1</td>
        <td>26.0</td>
        <td>22.0</td>
        <td>15.1</td>
        <td>10.8</td>
        <td>25.6</td>
        <td>17.9</td>
        <td>16.0</td>
        <td>13.2</td>
        <td>26.1</td>
        <td>20.4</td>
        <td>15.2</td>
        <td>12.6</td>
        <td>25.3</td>
        <td>19.3</td>
        <td>(CONTRACTS OF 5,000 BUSHELS)</td>
        <td>002602</td>
        <td>CBT</td>
        <td>2</td>
      </tr>
      <tr>
        <th>3