<b>Commodities</b>
  <p>
      <a href="">Home</a> | 
      <a href="financials">Financials</a> |
      <a href="commodities">Commodities</a> |
      <a href="scanner">Scanner</a> |
  </p>

  <html>
    <body>
        <form method = "post" action = "/commodities">
          <p><input type = "submit" name = "submit_button" value = "Aluminum" />
          <input type = "submit" name = "submit_button" value = "Butter" />
          <input type = "submit" name = "submit_button" value = "Canola" />
          <input type = "submit" name = "submit_button" value = "Cheese" />
          <input type = "submit" name = "submit_button" value = "Coal" />
          <input type = "submit" name = "submit_button" value = "Cocoa" />
          <input type = "submit" name = "submit_button" value = "Coffee" />
          <input type = "submit" name = "submit_button" value = "Copper" />
          <input type = "submit" name = "submit_button" value = "Corn" />
          <input type = "submit" name = "submit_button" value = "Cotton" />
          <input type = "submit" name = "submit_button" value = "Crude Oil" />
          <input type = "submit" name = "submit_button" value = "Ethane" />
          <input type = "submit" name = "submit_button" value = "Ethanol" />
          <input type = "submit" name = "submit_button" value = "Orange Juice" />
          <input type = "submit" name = "submit_button" value = "Gasoline" />
          <input type = "submit" name = "submit_button" value = "Gold" />
          <input type = "submit" name = "submit_button" value = "Henry Hub" />
          <input type = "submit" name = "submit_button" value = "Henry Hub Index" />
          <input type = "submit" name = "submit_button" value = "Lean Hogs" />
          <input type = "submit" name = "submit_button" value = "Live Cattle" />
          <input type = "submit" name = "submit_button" value = "Natural Gas" />
          <input type = "submit" name = "submit_button" value = "Palladium" />
          <input type = "submit" name = "submit_button" value = "Platinum" />
          <input type = "submit" name = "submit_button" value = "Propane" />
          <input type = "submit" name = "submit_button" value = "Rough Rice" />
          <input type = "submit" name = "submit_button" value = "Silver" />
          <input type = "submit" name = "submit_button" value = "Soybean Meal" />
          <input type = "submit" name = "submit_button" value = "Soybean Oil" />
          <input type = "submit" name = "submit_button" value = "Soybeans" />
          <input type = "submit" name = "submit_button" value = "Steel" />
          <input type = "submit" name = "submit_button" value = "Sugar" />
          <input type = "submit" name = "submit_button" value = "Wheat-HRW" />
          <input type = "submit" name = "submit_button" value = "Wheat" />
          <input type = "submit" name = "submit_button" value = "WTI Crude Oil" />
          <input type = "submit" name = "submit_button" value = "WTI" />
          <input type = "submit" name = "submit_button" value = "WTI" />
          <input type = "submit" name = "submit_button" value = "WTI" />
          <input type = "submit" name = "submit_button" value = "WTI" />
          <input type = "submit" value = "WTI" /></p>
        </form>   
    </body>
  </html>
  
      <html>
      <header>
          <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
      </header>
      <body>
      <table border="1" class="dataframe" id="table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Market_and_Exchange_Names</th>
      <th>Report_Date_as_MM_DD_YYYY</th>
      <th>CFTC_Contract_Market_Code</th>
      <th>Open_Interest_All</th>
      <th>Prod_Merc_Positions_Long_ALL</th>
      <th>Prod_Merc_Positions_Short_ALL</th>
      <th>Swap_Positions_Long_All</th>
      <th>Swap__Positions_Short_All</th>
      <th>Swap__Positions_Spread_All</th>
      <th>M_Money_Positions_Long_ALL</th>
      <th>M_Money_Positions_Short_ALL</th>
      <th>M_Money_Positions_Spread_ALL</th>
      <th>Other_Rept_Positions_Long_ALL</th>
      <th>Other_Rept_Positions_Short_ALL</th>
      <th>Other_Rept_Positions_Spread_ALL</th>
      <th>Tot_Rept_Positions_Long_All</th>
      <th>Tot_Rept_Positions_Short_All</th>
      <th>NonRept_Positions_Long_All</th>
      <th>NonRept_Positions_Short_All</th>
      <th>Comm_Net</th>
      <th>Comm_Max</th>
      <th>Comm_Min</th>
      <th>Comm_Index</th>
      <th>M_Money_Net</th>
      <th>M_Money_Max</th>
      <th>M_Money_Min</th>
      <th>M_Money_Index</th>
      <th>Swap_Net</th>
      <th>Swap_Max</th>
      <th>Swap_Min</th>
      <th>Swap_Index</th>
      <th>Other_Net</th>
      <th>Other_Max</th>
      <th>Other_Min</th>
      <th>Other_Index</th>
      <th>Price</th>
      <th>Price_Min</th>
      <th>Price_Max</th>
      <th>Price_Index</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>6/7/2022</td>
      <td>40701</td>
      <td>13151</td>
      <td>694</td>
      <td>10390</td>
      <td>3185</td>
      <td>14</td>
      <td>59</td>
      <td>5138</td>
      <td>61</td>
      <td>210</td>
      <td>944</td>
      <td>1538</td>
      <td>219</td>
      <td>10449</td>
      <td>12491</td>
      <td>2702</td>
      <td>660</td>
      <td>-9696</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3171</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5077</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-734</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>183.649994</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>5/31/2022</td>
      <td>40701</td>
      <td>12644</td>
      <td>634</td>
      <td>9832</td>
      <td>3076</td>
      <td>25</td>
      <td>40</td>
      <td>4953</td>
      <td>61</td>
      <td>228</td>
      <td>891</td>
      <td>1423</td>
      <td>318</td>
      <td>10140</td>
      <td>11927</td>
      <td>2504</td>
      <td>717</td>
      <td>-9198</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3051</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4892</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-663</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>177.350006</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>5/24/2022</td>
      <td>40701</td>
      <td>12200</td>
      <td>812</td>
      <td>9716</td>
      <td>3027</td>
      <td>39</td>
      <td>13</td>
      <td>4664</td>
      <td>61</td>
      <td>197</td>
      <td>891</td>
      <td>1236</td>
      <td>255</td>
      <td>9859</td>
      <td>11517</td>
      <td>2341</td>
      <td>683</td>
      <td>-8904</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2988</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4603</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-694</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>178.350006</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>5/17/2022</td>
      <td>40701</td>
      <td>12558</td>
      <td>1338</td>
      <td>10140</td>
      <td>3004</td>
      <td>106</td>
      <td>13</td>
      <td>4527</td>
      <td>61</td>
      <td>105</td>
      <td>880</td>
      <td>1110</td>
      <td>271</td>
      <td>10138</td>
      <td>11806</td>
      <td>2420</td>
      <td>752</td>
      <td>-8802</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2898</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4466</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-775</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>175.300003</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>5/10/2022</td>
      <td>40701</td>
      <td>12256</td>
      <td>908</td>
      <td>9908</td>
      <td>2777</td>
      <td>0</td>
      <td>8</td>
      <td>4572</td>
      <td>0</td>
      <td>110</td>
      <td>854</td>
      <td>1201</td>
      <td>220</td>
      <td>9449</td>
      <td>11447</td>
      <td>2807</td>
      <td>809</td>
      <td>-9000</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2777</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4572</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-744</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>176.350006</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>5/3/2022</td>
      <td>40701</td>
      <td>12232</td>
      <td>948</td>
      <td>10111</td>
      <td>2849</td>
      <td>0</td>
      <td>4</td>
      <td>4421</td>
      <td>0</td>
      <td>78</td>
      <td>946</td>
      <td>1168</td>
      <td>108</td>
      <td>9354</td>
      <td>11469</td>
      <td>2878</td>
      <td>763</td>
      <td>-9163</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2849</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4421</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-868</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>184.149994</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>4/26/2022</td>
      <td>40701</td>
      <td>12701</td>
      <td>1800</td>
      <td>10663</td>
      <td>2806</td>
      <td>0</td>
      <td>5</td>
      <td>3958</td>
      <td>0</td>
      <td>2</td>
      <td>1089</td>
      <td>1131</td>
      <td>84</td>
      <td>9744</td>
      <td>11885</td>
      <td>2957</td>
      <td>816</td>
      <td>-8863</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2806</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3958</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1087</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>168.000000</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>4/19/2022</td>
      <td>40701</td>
      <td>13010</td>
      <td>1673</td>
      <td>10659</td>
      <td>2794</td>
      <td>0</td>
      <td>12</td>
      <td>4193</td>
      <td>0</td>
      <td>57</td>
      <td>1141</td>
      <td>1283</td>
      <td>55</td>
      <td>9925</td>
      <td>12066</td>
      <td>3085</td>
      <td>944</td>
      <td>-8986</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2794</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4193</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1084</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>171.899994</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>4/12/2022</td>
      <td>40701</td>
      <td>13915</td>
      <td>1565</td>
      <td>11219</td>
      <td>2734</td>
      <td>0</td>
      <td>12</td>
      <td>4315</td>
      <td>0</td>
      <td>52</td>
      <td>1577</td>
      <td>1396</td>
      <td>192</td>
      <td>10447</td>
      <td>12871</td>
      <td>3468</td>
      <td>1044</td>
      <td>-9654</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2734</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4315</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1525</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>172.100006</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>4/5/2022</td>
      <td>40701</td>
      <td>13931</td>
      <td>1631</td>
      <td>11475</td>
      <td>3361</td>
      <td>0</td>
      <td>60</td>
      <td>3844</td>
      <td>25</td>
      <td>32</td>
      <td>1680</td>
      <td>1162</td>
      <td>122</td>
      <td>10730</td>
      <td>12876</td>
      <td>3201</td>
      <td>1055</td>
      <td>-9844</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3361</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3819</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1648</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>160.250000</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>3/29/2022</td>
      <td>40701</td>
      <td>13120</td>
      <td>1903</td>
      <td>10792</td>
      <td>3115</td>
      <td>0</td>
      <td>0</td>
      <td>2998</td>
      <td>85</td>
      <td>32</td>
      <td>1891</td>
      <td>1025</td>
      <td>71</td>
      <td>10010</td>
      <td>12005</td>
      <td>3110</td>
      <td>1115</td>
      <td>-8889</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3115</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2913</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1859</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>145.800003</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>3/22/2022</td>
      <td>40701</td>
      <td>12340</td>
      <td>1643</td>
      <td>10338</td>
      <td>3172</td>
      <td>0</td>
      <td>0</td>
      <td>2770</td>
      <td>90</td>
      <td>32</td>
      <td>1721</td>
      <td>859</td>
      <td>50</td>
      <td>9388</td>
      <td>11369</td>
      <td>2952</td>
      <td>971</td>
      <td>-8695</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3172</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2680</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1689</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>144.699997</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>3/15/2022</td>
      <td>40701</td>
      <td>11969</td>
      <td>1510</td>
      <td>10059</td>
      <td>3265</td>
      <td>0</td>
      <td>0</td>
      <td>2285</td>
      <td>25</td>
      <td>33</td>
      <td>1681</td>
      <td>850</td>
      <td>48</td>
      <td>8822</td>
      <td>11015</td>
      <td>3147</td>
      <td>954</td>
      <td>-8549</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3265</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2260</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1648</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>142.649994</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>3/8/2022</td>
      <td>40701</td>
      <td>12029</td>
      <td>1294</td>
      <td>10314</td>
      <td>3277</td>
      <td>0</td>
      <td>0</td>
      <td>2507</td>
      <td>0</td>
      <td>0</td>
      <td>1726</td>
      <td>729</td>
      <td>48</td>
      <td>8852</td>
      <td>11091</td>
      <td>3177</td>
      <td>938</td>
      <td>-9020</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3277</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2507</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1726</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>141.149994</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>3/1/2022</td>
      <td>40701</td>
      <td>12058</td>
      <td>2021</td>
      <td>10266</td>
      <td>2895</td>
      <td>0</td>
      <td>0</td>
      <td>2030</td>
      <td>0</td>
      <td>0</td>
      <td>1620</td>
      <td>782</td>
      <td>48</td>
      <td>8614</td>
      <td>11096</td>
      <td>3444</td>
      <td>962</td>
      <td>-8245</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2895</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2030</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1620</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>150.199997</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>2/22/2022</td>
      <td>40701</td>
      <td>12410</td>
      <td>2395</td>
      <td>10343</td>
      <td>2855</td>
      <td>0</td>
      <td>0</td>
      <td>2123</td>
      <td>0</td>
      <td>88</td>
      <td>1482</td>
      <td>691</td>
      <td>253</td>
      <td>9196</td>
      <td>11375</td>
      <td>3214</td>
      <td>1035</td>
      <td>-7948</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2855</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2123</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1394</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>135.899994</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>2/15/2022</td>
      <td>40701</td>
      <td>12757</td>
      <td>2377</td>
      <td>10177</td>
      <td>2694</td>
      <td>0</td>
      <td>0</td>
      <td>2454</td>
      <td>0</td>
      <td>94</td>
      <td>1516</td>
      <td>1101</td>
      <td>273</td>
      <td>9408</td>
      <td>11645</td>
      <td>3349</td>
      <td>1112</td>
      <td>-7800</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2694</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2454</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1422</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>133.600006</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>2/8/2022</td>
      <td>40701</td>
      <td>12789</td>
      <td>2060</td>
      <td>10238</td>
      <td>2684</td>
      <td>0</td>
      <td>0</td>
      <td>3304</td>
      <td>0</td>
      <td>0</td>
      <td>1253</td>
      <td>1346</td>
      <td>188</td>
      <td>9489</td>
      <td>11772</td>
      <td>3300</td>
      <td>1017</td>
      <td>-8178</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2684</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3304</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1253</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>142.100006</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>2/1/2022</td>
      <td>40701</td>
      <td>13070</td>
      <td>1494</td>
      <td>9838</td>
      <td>2699</td>
      <td>90</td>
      <td>0</td>
      <td>3845</td>
      <td>0</td>
      <td>70</td>
      <td>1207</td>
      <td>1417</td>
      <td>525</td>
      <td>9840</td>
      <td>11940</td>
      <td>3230</td>
      <td>1130</td>
      <td>-8344</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2609</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3845</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1137</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>145.699997</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>1/25/2022</td>
      <td>40701</td>
      <td>12641</td>
      <td>2119</td>
      <td>9619</td>
      <td>2038</td>
      <td>0</td>
      <td>0</td>
      <td>3729</td>
      <td>0</td>
      <td>62</td>
      <td>1333</td>
      <td>1464</td>
      <td>333</td>
      <td>9614</td>
      <td>11478</td>
      <td>3027</td>
      <td>1163</td>
      <td>-7500</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2038</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3729</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1271</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>155.850006</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>1/18/2022</td>
      <td>40701</td>
      <td>12028</td>
      <td>2634</td>
      <td>9502</td>
      <td>2058</td>
      <td>0</td>
      <td>0</td>
      <td>3013</td>
      <td>0</td>
      <td>0</td>
      <td>1322</td>
      <td>1211</td>
      <td>317</td>
      <td>9344</td>
      <td>11030</td>
      <td>2684</td>
      <td>998</td>
      <td>-6868</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2058</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3013</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1322</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>150.199997</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>1/11/2022</td>
      <td>40701</td>
      <td>11308</td>
      <td>2984</td>
      <td>8706</td>
      <td>1767</td>
      <td>0</td>
      <td>1</td>
      <td>2418</td>
      <td>81</td>
      <td>9</td>
      <td>1292</td>
      <td>1126</td>
      <td>250</td>
      <td>8721</td>
      <td>10173</td>
      <td>2587</td>
      <td>1135</td>
      <td>-5722</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1767</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2337</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1283</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>145.699997</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>1/4/2022</td>
      <td>40701</td>
      <td>11222</td>
      <td>3706</td>
      <td>8807</td>
      <td>1797</td>
      <td>0</td>
      <td>5</td>
      <td>1982</td>
      <td>373</td>
      <td>17</td>
      <td>1136</td>
      <td>1079</td>
      <td>158</td>
      <td>8801</td>
      <td>10439</td>
      <td>2421</td>
      <td>783</td>
      <td>-5101</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1797</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1609</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1119</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>146.350006</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>12/28/2021</td>
      <td>40701</td>
      <td>10660</td>
      <td>3767</td>
      <td>8098</td>
      <td>1738</td>
      <td>0</td>
      <td>0</td>
      <td>1567</td>
      <td>858</td>
      <td>0</td>
      <td>1121</td>
      <td>961</td>
      <td>24</td>
      <td>8217</td>
      <td>9941</td>
      <td>2443</td>
      <td>719</td>
      <td>-4331</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1738</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>709</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1121</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>140.300003</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>12/21/2021</td>
      <td>40701</td>
      <td>10965</td>
      <td>4130</td>
      <td>6888</td>
      <td>1811</td>
      <td>72</td>
      <td>26</td>
      <td>1268</td>
      <td>2014</td>
      <td>76</td>
      <td>1132</td>
      <td>692</td>
      <td>19</td>
      <td>8462</td>
      <td>9787</td>
      <td>2503</td>
      <td>1178</td>
      <td>-2758</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1739</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-746</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1056</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>140.199997</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>12/14/2021</td>
      <td>40701</td>
      <td>11452</td>
      <td>4260</td>
      <td>6490</td>
      <td>1910</td>
      <td>149</td>
      <td>6</td>
      <td>798</td>
      <td>2441</td>
      <td>0</td>
      <td>1778</td>
      <td>526</td>
      <td>275</td>
      <td>9027</td>
      <td>9887</td>
      <td>2425</td>
      <td>1565</td>
      <td>-2230</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1761</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1643</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1778</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>130.350006</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>12/7/2021</td>
      <td>40701</td>
      <td>11388</td>
      <td>4250</td>
      <td>6108</td>
      <td>1896</td>
      <td>164</td>
      <td>0</td>
      <td>804</td>
      <td>2453</td>
      <td>76</td>
      <td>1707</td>
      <td>531</td>
      <td>205</td>
      <td>8938</td>
      <td>9537</td>
      <td>2450</td>
      <td>1851</td>
      <td>-1858</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1732</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1649</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1631</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>126.349998</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>11/30/2021</td>
      <td>40701</td>
      <td>11251</td>
      <td>4484</td>
      <td>6864</td>
      <td>1720</td>
      <td>147</td>
      <td>0</td>
      <td>856</td>
      <td>2102</td>
      <td>76</td>
      <td>1775</td>
      <td>478</td>
      <td>60</td>
      <td>8971</td>
      <td>9727</td>
      <td>2280</td>
      <td>1524</td>
      <td>-2380</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1573</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1246</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1699</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>122.900002</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>11/23/2021</td>
      <td>40701</td>
      <td>11375</td>
      <td>4287</td>
      <td>7187</td>
      <td>1849</td>
      <td>98</td>
      <td>0</td>
      <td>865</td>
      <td>2132</td>
      <td>76</td>
      <td>1648</td>
      <td>428</td>
      <td>22</td>
      <td>8747</td>
      <td>9943</td>
      <td>2628</td>
      <td>1432</td>
      <td>-2900</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1751</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1267</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1572</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>130.149994</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>11/16/2021</td>
      <td>40701</td>
      <td>11497</td>
      <td>4310</td>
      <td>6802</td>
      <td>2013</td>
      <td>107</td>
      <td>0</td>
      <td>861</td>
      <td>2321</td>
      <td>81</td>
      <td>1804</td>
      <td>428</td>
      <td>0</td>
      <td>9069</td>
      <td>9739</td>
      <td>2428</td>
      <td>1758</td>
      <td>-2492</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1906</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1460</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1723</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>132.350006</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>30</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>11/9/2021</td>
      <td>40701</td>
      <td>12418</td>
      <td>4634</td>
      <td>6621</td>
      <td>1915</td>
      <td>184</td>
      <td>0</td>
      <td>861</td>
      <td>2556</td>
      <td>167</td>
      <td>2076</td>
      <td>567</td>
      <td>8</td>
      <td>9661</td>
      <td>10103</td>
      <td>2757</td>
      <td>2315</td>
      <td>-1987</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1731</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1695</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1909</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>122.250000</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>31</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>11/2/2021</td>
      <td>40701</td>
      <td>11578</td>
      <td>4293</td>
      <td>6566</td>
      <td>1779</td>
      <td>167</td>
      <td>0</td>
      <td>850</td>
      <td>1875</td>
      <td>167</td>
      <td>2157</td>
      <td>796</td>
      <td>0</td>
      <td>9246</td>
      <td>9571</td>
      <td>2332</td>
      <td>2007</td>
      <td>-2273</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1612</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1025</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1990</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>117.800003</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>32</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>10/26/2021</td>
      <td>40701</td>
      <td>11971</td>
      <td>4626</td>
      <td>7664</td>
      <td>1785</td>
      <td>123</td>
      <td>0</td>
      <td>877</td>
      <td>1399</td>
      <td>157</td>
      <td>1901</td>
      <td>781</td>
      <td>155</td>
      <td>9501</td>
      <td>10279</td>
      <td>2470</td>
      <td>1692</td>
      <td>-3038</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1662</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-522</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1744</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>122.650002</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>33</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>10/19/2021</td>
      <td>40701</td>
      <td>11958</td>
      <td>4343</td>
      <td>7771</td>
      <td>1568</td>
      <td>147</td>
      <td>1</td>
      <td>1068</td>
      <td>1395</td>
      <td>93</td>
      <td>1899</td>
      <td>720</td>
      <td>266</td>
      <td>9238</td>
      <td>10393</td>
      <td>2720</td>
      <td>1565</td>
      <td>-3428</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1421</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-327</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1806</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>123.000000</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>34</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>10/12/2021</td>
      <td>40701</td>
      <td>11940</td>
      <td>4073</td>
      <td>9298</td>
      <td>1558</td>
      <td>129</td>
      <td>6</td>
      <td>1577</td>
      <td>347</td>
      <td>252</td>
      <td>1742</td>
      <td>637</td>
      <td>101</td>
      <td>9309</td>
      <td>10770</td>
      <td>2631</td>
      <td>1170</td>
      <td>-5225</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1429</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1230</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1490</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>127.099998</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>35</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>10/5/2021</td>
      <td>40701</td>
      <td>11627</td>
      <td>2943</td>
      <td>9510</td>
      <td>1345</td>
      <td>125</td>
      <td>15</td>
      <td>2997</td>
      <td>139</td>
      <td>103</td>
      <td>1484</td>
      <td>686</td>
      <td>97</td>
      <td>8984</td>
      <td>10675</td>
      <td>2643</td>
      <td>952</td>
      <td>-6567</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1220</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2858</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1381</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>131.000000</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>36</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>9/28/2021</td>
      <td>40701</td>
      <td>11444</td>
      <td>2612</td>
      <td>9746</td>
      <td>1339</td>
      <td>124</td>
      <td>0</td>
      <td>3270</td>
      <td>56</td>
      <td>97</td>
      <td>1604</td>
      <td>625</td>
      <td>3</td>
      <td>8925</td>
      <td>10651</td>
      <td>2519</td>
      <td>793</td>
      <td>-7134</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1215</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3214</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1507</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>133.500000</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>37</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>9/21/2021</td>
      <td>40701</td>
      <td>11559</td>
      <td>2204</td>
      <td>10121</td>
      <td>1323</td>
      <td>97</td>
      <td>0</td>
      <td>3571</td>
      <td>0</td>
      <td>99</td>
      <td>1793</td>
      <td>565</td>
      <td>66</td>
      <td>9056</td>
      <td>10948</td>
      <td>2503</td>
      <td>611</td>
      <td>-7917</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1226</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3571</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1694</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>141.899994</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>38</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>9/14/2021</td>
      <td>40701</td>
      <td>11683</td>
      <td>2214</td>
      <td>10174</td>
      <td>1309</td>
      <td>98</td>
      <td>0</td>
      <td>3631</td>
      <td>0</td>
      <td>99</td>
      <td>1857</td>
      <td>615</td>
      <td>79</td>
      <td>9189</td>
      <td>11065</td>
      <td>2494</td>
      <td>618</td>
      <td>-7960</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1211</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3631</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1758</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>141.649994</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>39</th>
      <td>FRZN CONCENTRATED ORANGE JUICE - ICE FUTURES U.S.</td>
      <td>9/7/2021</td>
      <td>40701</td>
      <td>11770</td>
      <td>1876</td>
      <td>10285</td>
      <td>1389</td>
      <td>98</td>
      <td>0</td>
      <td>3526</td>
      <td>0</td>
      <td>99</td>
      <td>2102</td>
      <td>561</td>
      <td>163</td>
      <td>9155</td>
      <td>11206</td>
      <td>2615</td>
      <td>564</td>
      <td>-8409</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1291</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3526</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-2003</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>147.000000</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
      <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
      <script>
          $(document).ready( function () {
              $('#table').DataTable({
                  "lengthMenu": [ [15, 50, 100, -1], [15, 50, 100, "All"] ],
              });
          });
      </script>
      </body>
      </html>
      